<!DOCTYPE html>
<html lang="en">

  <head>
    <title>موقع الإسلام | أحاديث نبويه</title>
    <link rel="stylesheet" href="../css/home.css">
    <%- include('./partials/head.ejs') %>
    <style>
      .hadeth {
        font-size: 1.50rem !important;
        font-weight: 600;
        margin-top: 40px;
      }

      .hadeth>span {
        color: #b56400;
      }

      hr {
        border: 3px solid #7a4400;
        border-radius: 10px;
        margin: 20px 0 20px 0;
      }
    </style>
  </head>

  <body onload="myFunction()">
    <%- include('./partials/loading.ejs') %>
    <div style="display:none;" id="myDiv" class="animate-bottom">
      <%- include('./partials/menu.ejs') %>
      <%- include('./partials/navbar.ejs') %>
      <section class="cards nbw" id="services" style="padding-bottom: 50px;">
        <div class="content" style="flex-direction: column;align-items: center;padding-top: 50px">
          <div class="card">
            <div class="icon">
              <i class="fa-duotone fa-scroll-old" aria-hidden="true"></i>
            </div>
            <div class="info">
              <h3>أحاديث نبويه</h3>
              <div class="hadeth">
                <% ahadeth.forEach(ah => { %>
                <%= ah.a %><br><span><%= ah.b %></span>
                <hr>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script src="./js/main.js" type="text/javascript"></script>
    </div>
  </body>

</html>